* {
  box-sizing: border-box;
}

.side-bar {
  width: 228px;
  height: 100vh;
  background: powderblue;
  position: absolute;
  left: 0;
  z-index: 2;
}

.main-container {
  background-color: lightgray;
  width: 100%;
  height: 100vh;
  position: relative;
}

.desktop-header {
  padding: 24px;
  background: orangered;
  height: 20px;
  width: 100%;
  top: 0;
}

.asset-table {
  background: white;
  height: 100%;
  width: 100%;
}

.search-bar {
  height: 97px;
  width: 100%;
  background: #ffff;
  position: relative;
  top: 0;
}

table{
  table-layout: fixed;
}

.table-container {
  width: 1044px;
  position: relative;
  left: 277px;
  top: 27px;
  background: white;
  height: 100vh;
}

thead {
  background: pink;
  height: 50px;
  position: relative;
  padding: 16px 48px 16px 0px;
  border-bottom: none;
  cursor: pointer;
  text-align: left;
}

tbody {
  height: 100%;
}

tr {
  border: solid thin;
  height: 50px;
}

.thead-name{
width: 356px;
}

.thead-marketcap{
  text-align: right;
}

.asset-item{
  background: blue;
  width: 100%;
}
.asset {
  max-height: 50px;
}